/* Add this CSS in your stylesheet or in a style block */
.station-list-item:hover {
    background-color: #f5f5f5;
}

.station-list-item:hover td {
    background-color: transparent; /* Remove background color for cells on hover */
    transition: background-color 0.3s ease;
}

.station-list-item td {
    border: none; /* Remove borders for cells */
    padding: 16px;
}

.station-list-item {
    cursor: pointer;
}

.station-list-item > td:first-child {
    border-radius: 15px 0 0 15px; /* Rounded corners for the first cell */
}

.station-list-item > td:last-child {
    border-radius: 0 15px 15px 0; /* Rounded corners for the last cell */
}

.station-list-item:hover > td:first-child {
    background-color: #f5f5f5; /* Background color for the first cell on hover */
}

.station-list-item:hover > td:last-child {
    background-color: #f5f5f5; /* Background color for the last cell on hover */
}
