.admin-signin{
    background-image: url('../../img/dark-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw
}

.admin-signin>.container {
    
    background-color:  white;
    backdrop-filter: blur(9.5px);
    border-radius: 35px;
    color: #263238;
    max-height: 100%;
    padding: 60px;
    width: 450px;
    font-family: 'Archivo', sans-serif;
    
}
h2{
    font-size: 2.4rem;
    line-height: 2rem;
}
h2>span{
    color: #8cacff;
}
.sub{
    font-size: .9rem;
    font-weight: 300;

}
.error{
    text-align: center;
    background-color: #f8d0d4;
    border-style: solid;
    border-color: #be5763;
    border-width: 3px;
    color: #862a34;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Inter'
}



@media (max-width: 600px) {
    .admin-signin {
        background-color: #001227;
        height: 100%;
    }
}

@media (max-width: 601px) {
    .admin-signin {
        background-color: #001227;
        height: 100vh;
    }
}