.station-main{
    background-color: #0d2135;
}

.main-container {
    margin-top: 2em;
  }

@media (max-width: 1366px) {
    .station-main {
      background-color: #0d2135;
      height: 100%;
      width: 100%;
    }
  }