.greeting-mood{
    color: #8cacff;
    font-weight: 400;
    font-family: 'Poppins';
}
.subject-greet{
    color: #8cacff;
    font-weight: 400;
    font-family: 'Poppins';
}
.user-greet{
    color: #8cacff;
    font-weight: 400;
    font-family: 'Poppins';
}